<configuration>

  <system.webServer>
    <rewrite>
      <rules>
	  
	   <rule name="loadbalance" stopProcessing="true">
          <match url="loadbalance.htm" />
          <action type="Rewrite" url="/loadbalance.htm" />
        </rule>
			<rule name="google" stopProcessing="true">
          <match url="google806f73551da96570" />
          <action type="Rewrite" url="/public/google806f73551da96570.html" />
        </rule>
	    <rule name="apidata" stopProcessing="true">
          <match url="^apidata/(.*)" />
          <action type="Rewrite" url="/apidata/{R:1}" />
        </rule>
		    <rule name="robots" stopProcessing="true">
          <match url="robots.txt" />
          <action type="Rewrite" url="/public/robots.txt" />
        </rule>
        <rule name="ads" stopProcessing="true">
          <match url="ads.txt" />
          <action type="Rewrite" url="/public/ads.txt" />
        </rule>
        <rule name="sitemap" stopProcessing="true">
          <match url="^sitemap/(.*)" />
          <action type="Rewrite" url="/public/sitemap/{R:1}" />
        </rule>
        <rule name="assets" stopProcessing="true">
          <match url="^assets/(.*)" />
          <action type="Rewrite" url="/public/assets/{R:1}" />
        </rule>
        <rule name="project">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <iisnode node_env="production" nodeProcessCommandLine="&quot;C:\Program Files\nodejs\node.exe&quot;" interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;" />

  </system.webServer>
  <location path="" overrideMode="Deny">
    <system.webServer>
      <handlers>
        <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
		<add name="aspNetCore" path="apidata/*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
    </system.webServer>
  </location>
  

</configuration>