.header {
    display: block;
    background: #414563;
    padding: 10px 0;
    width: 100%;
    margin: 0 auto 40px;
    position: relative;
    box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 14%);
}


.t1 {
    margin: 0;
    position: relative;
    font-size: 130px;
    line-height: 1em;
    text-indent: -30px;
}

.error-container {
  padding: 0 !important;
    color: #ffffff;
    width: 100%;
    position: relative;
    font-size: 1.250em;
    line-height: 1.250em;
    text-align: center;
}

.error-content {
    max-width: 100% !important;

    width: 920px;
    position: relative;
    margin: 0 auto;
}

.container img {
    max-height: 400px;
}

.t2 {
    color: #ffffff;
    margin-top: -20px;
    font-size: 62px;
    line-height: 1em;
    text-indent: -30px;
}

a {
    outline-style: none;
    text-decoration: none;
    color: inherit;
}

.container p a {
    color: #ffffff;
}

.body {
    background: #15182a;
}
@media (max-width:767px) { 
    .t2{text-align: center;
        font-size: 36px;}
        .error-content{text-align: center;}
}

.main-header,.main-footer{display:none !important}