.streaming {
    padding: 0;
    margin-bottom: 0px;
}

body.livetv-page {
    background: #191F38;
}

.streaming-player {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    margin-bottom: 20px;
}

.streaming-player>* {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.streaming-category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}

.streaming-category-left {
    height: 100%;
    width: 100%;
}

.streaming-category-left-content {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 13px;
    overflow-x: auto;
}

.streaming-category-left-content a {
    display: flex;
    align-items: center;
    height: 26px;
    padding: 0px 18px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 22px;
    font-family: 'Roboto-medium', sans-serif;
    font-size: 13px;
    line-height: 16px;
    color: var(--white-color);
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
}

.streaming-category-left-content a:hover {
    background-color: var(--white-color);
    border-color: var(--white-color);
    color: var(--primary-color);
}

.streaming-category-left-content a:hover svg path {
    fill: #000;
}

.streaming-category-left-content a.like {
    border: none;
}

.streaming-category-left-content a.like svg path {
    fill: rgba(255, 255, 255, 0.28);
}

.streaming-category-left-content a.like:hover svg path {
    fill: #000;
}

.streaming-category-left-content::-webkit-scrollbar {
    display: none;
}

.streaming-category-right {
    flex-shrink: 0;
    width: 100%;
    display: flex;
}

.streaming-category-channel {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 8px;
    padding: 0 10px 10px;
    margin-top: 24px;
    position: relative;
    overflow-x: auto;
}

.streaming-category-channel::-webkit-scrollbar {
    display: none;
}

.streaming-category-channel a {
    display: flex;
    align-items: center;
}

.streaming-category-channel img {
    min-width: 80px;
    height: auto;
    transform: skew(-13deg, 0deg);
    -webkit-transform: skew(-13deg, 0deg);
    -moz-transform: skew(-13deg, 0deg);
    -ms-transform: skew(-13deg, 0deg);
    -o-transform: skew(-13deg, 0deg);
}

.streaming-now-play {
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
}

.streaming-now-play span {
    display: block;
    font-size: 9.5px;
    font-family: Roboto-bold;
    letter-spacing: -0.01em;
    color: #FF4949;
}

.streaming-days {
    display: flex;
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    gap: 14px;
    overflow-x: auto;
}

.streaming-days a {
    flex: 1;
    padding: 5px;
    display: flex;
    height: 100%;
    border-right: 1px solid #151829;
    font-size: 15px;
    color: #fff;
    font-family: Roboto-medium;
    flex-direction: column;
    border-radius: 6px;
    background: #BEC7D1;
    font-family: 'Roboto-bold';
    justify-content: center;
    min-width: 129px;
    text-align: center;
}

.streaming-days.type-02 {
    height: 38px;
}

.streaming-days a.active, .streaming-days a:hover {
    background: #ED1C24;
}

.streaming-days a:last-child {
    border-right: none;
}

.streaming-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 14px;
    justify-content: space-between;
    gap: 24px;
    margin-right: -10px;
}

.streaming-now-play svg path {
    fill: #FF4949;
}

.channel-name {
    display: flex;
    align-items: center;
    width: calc(100% - 80px);
}

.channel-name i {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    background-color: #DBDBDB;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.channel-name i img {
    width: 70%;
    height: auto;
}

.channel-name span {
    font-family: Roboto-bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.channel-buttons {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.channel-buttons>a {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: -0.01em;
    background: rgba(63, 66, 80, 0.35);
    border-radius: 22px;
    transition: all 0.3s ease;
}

.channel-buttons a span {
    display: none;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.streaming-program {
    display: flex;
    background: #fff;
}

.program-channel {
    flex-shrink: 0;
    height: 416px;
    overflow-y: auto;
}

.program-channel::-webkit-scrollbar {
    display: none;
}

.channel-buttons.active>a {
    background: rgb(49 55 86 / 63%);
}

.program-channel-top {
    display: flex;
    justify-content: flex-end;
    height: 18px;
    position: sticky;
    top: 0;
    background-color: #132B3F;
    z-index: 11;
    left: 0;
    width: 116px;
    left: 0;
    z-index: 99999;
}

.program-channel-top em {
    width: 71px;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    font-family: 'Roboto-bold';
    text-align: center;
}

.channel-like {
    display: none;
    width: 17px;
    height: 15px;
}

.channel-item {
    display: flex;
    align-items: center;
    gap: 7px;
    z-index: 999;
    position: sticky;
    left: 0;
    z-index: 20;
}

.channel-number {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    left: 0;
    z-index: 9999;
    background: #20263E;
    top: 0;
    border-radius: 6px 0 0 6px;
    font-size: 11px;
    letter-spacing: -0.01em;
    width: 20px;
    height: 100%;
    font-family: 'Roboto-medium';
}

.channel-logo picture {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #fff;
    border: 0.5px solid #D6DADF;
}

.channel-logo {
    width: 91px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    position: relative;
}

.channel-like .icon {
    width: 100%;
    display: block;
    height: 100%;
    background: url(../i/like-icon-stroke.svg) no-repeat;
}

.channel-like.active .icon {
    background: url(../i/like-icon.svg) no-repeat;
}

.channel-logo img {
    width: 50px;
    height: auto;
}

.drag-wrapper {
    display: flex;
    align-items: center;
}

.channel-item.active .channel-number {
    background-color: #009fc0;
}

.streaming-program {
    height: 416px;
    overflow-x: auto;
    overflow-y: auto;
    position: relative;
    cursor: grab;
    -webkit-user-select: none;
    user-select: none;
    padding-left: 0;
}

.streaming-program::-webkit-scrollbar {
    display: block;
    width: 10px;
    height: 10px;
    background: #EFEFEF;
}

.streaming-program::-webkit-scrollbar-thumb {
    background: #D6D6D6;
    border-radius: 20px;
}

.streaming-program::-webkit-scrollbar-corner {
    background: #D6D6D6;
}

.program-list-top {
    display: flex;
    height: 18px;
    position: sticky;
    top: 0;
    padding-left: 91px;
    z-index: 9999;
    margin-top: -20px;
}

.program-list-top span {
    flex-shrink: 0;
    width: 182px;
    background-color: #132B3F;
    font-size: 11px;
    line-height: 13px;
    color: #fff;
    font-family: 'Roboto-bold';
    padding-left: 10px;
    border-left: 1px solid rgb(214 218 223 / 48%);
    position: relative;
}

.program-list-item {
    display: flex;
    position: relative;
    padding-left: 10px;
}

.program-list-item:last-child {
    margin-bottom: 0;
}

.program-list-hourly:first-child {}

.program-list-hourly {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 70px;
    background: #fff;
    border: 0.5px solid #D6DADF;
    position: relative;
}

.program-list-hourly span {
    margin-bottom: 4px;
    font-family: Roboto-bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.01em;
    color: #192B42;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    -webkit-user-select: none;
    user-select: none;
    position: sticky;
    left: 105px;
}

.program-list-hourly i {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.70);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
    user-select: none;
    -webkit-user-select: none;
    position: sticky;
    left: 105px;
    display: table;
    max-width: 100%;
    font-family: 'Roboto-medium';
}

.now-line {
    width: 1px;
    height: calc(100% - 18px);
    position: absolute;
    left: 0;
    top: 18px;
    background: #00a3c0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 19;
}

.program-list-hourly:hover .program-wrapper {
    background: #F1F1F1 !important;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
    z-index: 9;
    left: 0px;
    min-width: 250px;
}

.tooltip-show .program-wrapper span, .tooltip-show .program-wrapper i {
    display: block;
    position: relative;
    top: -4px;
    left: 0;
}

.program-wrapper {
    padding: 10px;
    left: 0;
    bottom: 0;
    user-select: none;
    -webkit-user-select: none;
    height: 100%;
}

.progressbar-border {
    height: 5px;
    background: #efefef;
    border-radius: 15px;
    margin-top: 10px;
}

.progressbar-grey {
    background: #ED1C24;
}

.program-view {
    width: 229px;
    position: absolute;
    left: 0;
    border-radius: 3px;
    z-index: 999999;
    background: #fff;
    display: none;
    top: calc(-100% - 160px);
    overflow: hidden;
}

.program-detail {
    box-shadow: 0px 0px 6.663397312164307px 0px rgba(0, 0, 0, 0.10);
    height: 65px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.program-view:after {
    content: "";
    width: 29px;
    height: 15px;
    background: url(../i/polygon-2.svg) no-repeat;
    display: inline-block;
    left: 30px;
    bottom: -13px;
    background-size: contain;
    position: absolute;
}

.program-list-hourly:hover .program-view {
    display: block;
}

.program-view .img {
    display: flex;
}

.program-view .img img {
    width: 100%;
}

.program-detail .logo {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E1E1E1;
    border-radius: 100%;
    flex-shrink: 0;
    margin: 0;
}

.program-desc {
    color: #000;
    padding-left: 10px;
    font-family: 'Roboto-bold';
    overflow: hidden;
}

.program-time {
    font-size: 13px;
    font-family: 'Roboto-medium';
    display: block;
    margin-top: 5px;
}

.program-desc .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
    color: #000;
    transition: all 0.3s ease;
    font-size: 13px;
}

.program-desc .title:hover {
    color: #ed1c24;
}

.program-list-hourly.tooltip-show:hover .program-wrapper span, .program-list-hourly.tooltip-show:hover .program-wrapper i {
    white-space: inherit;
    text-overflow: inherit;
    top: 0;
}

.program-list-top span:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: url(../images/design.png);
}

.program-list-hourly.tooltip-show:hover .program-wrapper i {
    font-size: 11px;
}

.social-media-list {
    position: absolute;
    top: calc(100% + 10px);
    background: #262B40;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 8px;
    z-index: 99;
    right: 0;
    left: auto;
}

.social-media-list ul {
    display: flex;
    align-items: center;
    width: 150px;
    height: 35px;
    padding: 0 11px;
    justify-content: space-around;
}

.social-media-list ul li a {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    transition: all 0.3s ease;
}

.social-media-list li.facebook a:hover {
    background: #385EAB;
    border-color: #385EAB;
}

.social-media-list li.twitter a:hover {
    background: #3DA3F3;
    border-color: #3DA3F3;
}

.social-media-list li.email a:hover {
    background: #00a3c0;
    border-color: #00a3c0;
}

.social-media-list li.whatsapp a:hover {
    background: #0dc143;
    border-color: #0dc143;
}

.program-list-wrapper {
    display: flex;
    -webkit-user-select: none;
    user-select: none;
    height: 100%;
}

.program-list-content {
    margin-left: -10px;
}

.program-list-hourly.current-item {
    background: #ddd;
}

.program-list-item.selected .program-wrapper {
    background: #afacac;
}

.program-list-item.selected .current-item:not(:hover) .program-wrapper span, .program-list-item.selected .current-item:not(:hover) .program-wrapper i {
    color: #fff;
}

.program-list-item.selected .current-item {
    background: #ed1c24;
}

.program-list-item.selected .current-item .program-wrapper {
    background: none;
}

.program-list-item.selected .program-list-wrapper {
    background: #ed1c24;
}

.streaming-days a span {
    font-size: 14px;
    font-family: 'Roboto';
    display: block;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.program-list-hourly:hover .program-wrapper span {
    color: #E10A17;
}

.program-block .program-view {
    position: relative;
    display: block !important;
    top: 0;
    z-index: 9;
    width: calc(48% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
}

.program-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: -30px;
    padding: 15px;
}

.program-block .program-view:after {
    display: none;
}

@media (max-width:325px) {
    .channel-buttons a {
        padding: 9px 10px;
    }

    .channel-buttons a span {
        font-size: 10px;
    }

    .channel-buttons a svg {
        width: 15px;
    }
}

@media (min-width: 768px) {
    .streaming-info {
        margin-bottom: 40px;
        gap: 20px;
    }

    .channel-name {
        margin-bottom: 0px;
    }

    .channel-name i {
        width: 58px;
        height: 58px;
        margin-right: 24px;
    }

    .channel-name span {
        font-size: 24px;
        line-height: 24px;
    }

    .channel-buttons {
        gap: 10px;
        margin: 0 10px;
    }

    .streaming-days-area {
        padding: 0;
    }

    .streaming-days {
        width: 100%;
        height: 55px;
    }

    .streaming-days a {
        padding: 0 15px;
        font-size: 16px;
        overflow: hidden;
    }

    .streaming-days.type-02 {
        height: 38px;
        text-align: center;
        max-width: 1122px;
        margin: initial;
    }

    .streaming-days.type-02 a {
        width: 100%;
        font-size: 13px;
        padding: 0 10px;
        min-width: inherit;
    }

    .streaming-now-play {
        display: flex;
        align-items: center;
        margin-right: 15px;
    }

    .streaming-now-play span {
        font-size: 11px;
        line-height: 13px;
    }

    .streaming-now-play svg {
        margin-right: 5px;
    }

    .streaming-now-play svg path {
        fill: #FF4949;
    }

    .program-channel-top {
        height: 42px;
    }

    .program-channel-top em {
        width: 100%;
        font-size: 15px;
        line-height: 42px;
    }

    .channel-like {
        display: block;
    }

    .channel-item {
        gap: 22px;
    }

    .channel-logo {
        height: 84px;
        width: 116px;
    }

    .channel-number {
        width: 33px;
        font-size: 16px;
    }

    .channel-logo picture {}

    .channel-logo img {
        width: 64px;
    }

    .streaming-program {
        height: 707px;
    }

    .program-list-top {
        height: 42px;
        margin-top: -42px;
        padding-left: 116px;
    }

    .program-list-top span {
        width: 238px;
        font-size: 15px;
        line-height: 42px;
    }

    .program-list-hourly {
        height: 84px;
    }

    .program-list-hourly span {
        font-size: 12px;
        line-height: 21px;
        left: 130px;
    }

    .program-list-hourly i {
        font-size: 11px;
        line-height: 15px;
        left: 130px;
    }

    .now-line {
        height: calc(100% - 29px);
        top: 29px;
    }

    .streaming-category {
        width: 100%;
    }

    .streaming-category-left {
        flex-shrink: 0;
        margin-bottom: 20px;
    }

    .streaming-category-left-content {
        margin-bottom: 0;
        padding-bottom: 10px;
    }

    .streaming-category-left-content a {
        height: 40px;
        padding: 0px 15px;
    }

    .streaming-category-left-content::-webkit-scrollbar {
        display: block;
        width: 4px;
        height: 5px;
    }

    .streaming-category-left-content::-webkit-scrollbar-track {
        background: none;
    }

    .streaming-category-left-content::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.18);
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }

    .streaming-category-left-content::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .streaming-category-right {
        width: 100%;
        justify-content: center;
        margin-bottom: 12px;
    }

    .streaming-category-channel {
        max-width: 300px;
        margin-top: 0px;
    }

    .streaming-category-channel::-webkit-scrollbar {
        display: block;
        width: 4px;
        height: 5px;
    }

    .streaming-category-channel::-webkit-scrollbar-track {
        background: none;
    }

    .streaming-category-channel::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.18);
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }

    .streaming-category-channel::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .program-list-item {
        padding-left: 0;
    }

    .program-list {
        padding-left: 0;
    }

    .program-list-content {
        margin-left: 0;
    }

    .streaming {
        margin-bottom: 50px;
    }

    .program-block .program-view {
        width: calc(33.33% - 30px);
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .program-desc .title {
        font-size: 16px;
    }
}

@media (min-width:992px) {
    .streaming {
        padding: 0;
        margin-bottom: 30px;
    }

    .streaming-category-channel img {
        min-width: 65px;
    }

    .channel-name span {
        font-size: 15px;
    }

    .streaming-category-channel {
        max-width: 420px;
    }

    .channel-name {
        width: calc(100% - 150px);
    }

    .streaming-category {
        flex-direction: row;
    }

    .streaming-category-left {
        width: calc(100% - 565px);
        margin-bottom: 0;
    }

    .streaming-category-right {}

    .program-block .program-view {
        width: calc(25% - 30px);
    }
}

@media (min-width:1200px) {
    .streaming-category-channel {
        max-width: 470px;
    }

    .channel-buttons>a {
        padding: 0;
        height: 35px;
        width: 100px;
    }

    .channel-buttons a span {
        display: block;
    }

    .channel-buttons>a>svg {
        margin-right: 7px;
    }

    .channel-buttons.active>a:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: #282e4b transparent transparent transparent;
        position: absolute;
        bottom: -7px;
        left: 13px;
    }

    .social-media-list {
        left: auto;
    }

    .program-block .program-view {
        width: calc(20% - 30px);
    }

    .streaming-days.type-02 a {
        font-size: 16px;
    }
}

@media (min-width:1400px) {
    .channel-name span {
        font-size: 17px;
    }

    .program-block .program-view {
        width: calc(16.66% - 30px);
    }
}

@media (min-width:1560px) {
    .program-block .program-view {
        width: calc(14.28% - 30px);
    }
}

@media screen and (prefers-color-scheme: light) {
    body.light-mode .streaming-category-left-content a {
        color: #151829;
        border: 1px solid #151829;
    }

    body.light-mode .streaming-category-left-content a:hover {
        background: #151829;
        color: #fff;
    }

    body.light-mode .streaming-category-left-content a svg path {
        fill: #151829;
    }

    body.light-mode .streaming-category-left-content a:hover svg path {
        fill: #fff;
    }

    body.light-mode .streaming-category-left-content a.like {
        border: none;
    }

    body.light-mode .streaming-category-left-content::-webkit-scrollbar-thumb, body.light-mode .streaming-category-channel::-webkit-scrollbar-thumb, body.light-mode .program-list::-webkit-scrollbar-thumb {
        background: #50525E;
    }

    body.light-mode .streaming-category-left-content::-webkit-scrollbar-thumb:hover, body.light-mode .streaming-category-channel::-webkit-scrollbar-thumb:hover, body.light-mode .program-list::-webkit-scrollbar-thumb:hover {
        background: #3a3c44;
    }

    body.light-mode .channel-name span {
        color: #232636;
    }

    body.light-mode .channel-buttons a {
        background: #F2F2F2;
    }

    body.light-mode .channel-buttons a svg path {
        fill: #1C1F30;
        stroke: none;
    }

    body.light-mode .channel-buttons a span {
        color: #1C1F30;
    }

    body.light-mode .streaming-days {
        background: #F2F2F2;
    }

    body.light-mode .streaming-days a {
        border-color: #fff;
        color: #232636;
    }

    body.light-mode .streaming-days a.active, body.light-mode .streaming-days a:hover {
        background: #2A4E63;
        color: #fff;
    }

    body.light-mode .program-channel-top, body.light-mode .program-list-top {
        background: #fafafa;
    }

    body.light-mode .program-channel-top span, body.light-mode .program-list-top span {
        color: #000000;
        opacity: .8;
        background: none;
    }

    body.light-mode .channel-number {
        color: #232636;
        background: #eee;
    }

    body.light-mode .channel-item.active .channel-number {
        background-color: #d0cbcb;
        color: #000;
    }

    body.light-mode .channel-like svg path {
        fill: #1C1F30;
        fill-opacity: 1;
    }

    body.light-mode .program-list-hourly i {
        color: #000;
    }

    body.light-mode .program-list-wrapper {
        background: #ebebeb;
    }

    body.light-mode .program-list-hourly span {
        color: #000;
    }

    body.light-mode .channel-item:before {
        background: #fafafa;
    }

    body.light-mode .program-channel-top em {
        color: #000;
        opacity: 1;
    }

    body.light-mode .program-list-hourly.current-item {
        background: #ebebeb;
    }

    body.light-mode .program-list-item.selected .program-wrapper {
        background: #dfdfdf;
    }

    body.light-mode .program-list-item.selected .current-item {
        background: #d0cbcb;
    }

    body.light-mode .program-list-item.selected .current-item .program-wrapper {
        background: none;
    }

    body.light-mode .program-list-item.selected .program-list-wrapper {
        background: #d0cbcb;
    }

    body.light-mode .program-list-hourly.tooltip-show {
        overflow: inherit;
    }

    body.light-mode .program-list-hourly {
        background: #f3f3f3;
    }

    body.light-mode .program-list-hourly.tooltip-show:hover .program-wrapper span, body.light-mode .program-list-hourly.tooltip-show:hover .program-wrapper i {
        color: #000;
    }

    body.light-mode .inside-links ul li a {
        color: #000;
    }

    body.light-mode .inside-links ul li.active a {
        color: #e10a17;
    }
}

@media (max-width:767px) {
    .program-channel-top {
        width: 91px;
    }

    .main-container.type-02 {
        padding-left: 0;
        padding-right: 0;
    }

    .program-view {
        display: none !important
    }
}